@page "{slug}"
@model HdMovies.Pages.Movies.IndexModel
@namespace HdMovies.Models

@{
    ViewData["Title"] = Model.Movie.Title;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-4 col-md-3">
        <img class="img-thumbnail img-fluid" src="@Model.Movie.PosterPath" alt="@Model.Movie.Title Poster">

        @if (User.Identity.Name == Model.Movie.UploadedUser.UserName
           || User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
        {
            <ul class="nav">
                <li class="nav-item m-2">
                    <a class="nav-link btn btn-sm btn-warning" asp-page="/Movies/Edit" asp-route-id="@Model.Movie.Id">Edit</a>
                </li>
                <li class="nav-item m-2">
                    <a class="nav-link btn btn-sm btn-danger" asp-page="/Movies/Delete" asp-route-id="@Model.Movie.Id">Delete</a>
                </li>
            </ul>
        }
    </div>
    <div class="col-8 col-md-9">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Movie.ReleaseDate):
            </dt>
            <dd class="col-sm-10">
                @Model.Movie.ReleaseDate.ToString("MMMM dd, yyyy")
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Movie.Director):
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Movie.Director)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Movie.Genres):
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Movie.Genres)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Movie.ViewCount):
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Movie.ViewCount)
            </dd>
        </dl>
    </div>
</div>
<div class="row my-3">
    <div class="col-12">
        <h2>Description of movie &quot;@Model.Movie.Title&quot;</h2>
        <p>
            @Model.Movie.Description
        </p>
    </div>
</div>

