@page
@model HdMovies.Pages.Movies.ListModel

@{
    ViewData["Title"] = "Watch movies in HD online";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    @if (!Model.Movies.Any())
    {
        <h4>There have not any movies ;(</h4>
    }
    else
    {
        @foreach (var movie in Model.Movies)
        {
            <div class="col-6 col-sm-4 col-md-3 my-3">
                <div class="card card-shadow my-4">
                    <img class="card-img-top" src="@movie.PosterPath" alt="@movie.Title Poster" />
                    <div class="card-body">
                        <h4 class="card-title">@movie.Title</h4>
                        <p class="card-text">@movie.ReleaseDate.Year, @movie.Genres.Split(',').FirstOrDefault()</p>
                        <a class="btn btn-primary" asp-page="/Movies/Index" asp-route-slug="@movie.Slug">Watch Movie</a>
                    </div>
                </div>
            </div>
        }
    }
</div>

<div id="pagination" class="d-flex">
    <pagination class="mx-auto" page-index="@Model.Movies.PageIndex" total-pages="@Model.Movies.TotalPages" base-url="/Movies/List" />
</div>
